<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <h2>LAYOUT</h2>
    <nav class="navbar-inverse">
      <div>
        <ul>
            <li>
                <%= link_to "One", pages_one_path %>
            </li>
            <li>
                <%= link_to "Two", pages_two_path %>
            </li>
            <li>
                <%= link_to "Three", pages_three_path%>
            </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
